# King County Housing Data
Student: Claude Mindt-Kries

## Case: Nicole Johnson (Buyer) & Outcome
Nicole wants to buy a house following the following criteria:
* lively neighborhood
* central location
* middle price range
* right timing: within a year
* Use assumptions to questions your client Nicole may have, just write them down clearly

## General Process
1. **Understanding** (data, columns, types, domain)
2. **Hypothesis**: Key assumptions, questions to self
3. **Explore** (groups, skewness, centrality/spread), re-express if needed
4. **Clean** (missing calues, extremes, outliers)
5. **Relationships** (correlations)
6. **Hypothesis-Re-iteration** (assumption correct? right questions?)
7. **Fine tune** (keep only relevant plots, make clear and self explanatory)
8. **Explain** (document thought process, why what has been done)

<img src="./files/EDA_Checklist.png" alt="Checklist" style="width:100px;"/>

## Expected Output
1. This jupyter notebook (well documented, essence only), published to GitHub.
2. Presentation/slides 10 min + 5 min discussion
3. Updated README.
4. Optional: Python script cleaning data

## Expected Outcome I: Data Insights

<span style="color:red">Assumptions: *see through notebook and put them here*</span>

**At least 3 insights on overall data - 1 should be geographical.**

1. ...
2. ...
3. Geogprahical: ...


## Expected Outcome II: Client Recommendation
**Give advice to buyer which house to buy and why.**
1. ...
2. ...
3. ...

## Investigation
### Loading data, checking data types and domain

In [18]:
# importing standard libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
# Loading data
df_ori = pd.read_csv("./data/King_County_House_prices_dataset.csv")     # keeping a safe copy of original data
df = df_ori.copy()

In [20]:
from IPython.display import display                 # Allow for multiple outputs in one cell
pd.set_option('display.max_columns', None)          # Display all columns, otherwise one col 'condition' had been hidden
pd.options.display.float_format = "{:,.2f}".format  # rounding to 2 decimal numbers for display; data itself is not altered

# General understanding of data
display(df.head(10))
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}\n")
display(df.info())

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,"221,900.00",3,1.00,1180,5650,1.00,NaN,0.00,3,7,1180,0.0,1955,0.00,98178,47.51,-122.26,1340,5650
1,6414100192,12/9/2014,"538,000.00",3,2.25,2570,7242,2.00,0.00,0.00,3,7,2170,400.0,1951,"1,991.00",98125,47.72,-122.32,1690,7639
2,5631500400,2/25/2015,"180,000.00",2,1.00,770,10000,1.00,0.00,0.00,3,6,770,0.0,1933,NaN,98028,47.74,-122.23,2720,8062
3,2487200875,12/9/2014,"604,000.00",4,3.00,1960,5000,1.00,0.00,0.00,5,7,1050,910.0,1965,0.00,98136,47.52,-122.39,1360,5000
4,1954400510,2/18/2015,"510,000.00",3,2.00,1680,8080,1.00,0.00,0.00,3,8,1680,0.0,1987,0.00,98074,47.62,-122.05,1800,7503
5,7237550310,5/12/2014,"1,230,000.00",4,4.50,5420,101930,1.00,0.00,0.00,3,11,3890,1530.0,2001,0.00,98053,47.66,-122.00,4760,101930
6,1321400060,6/27/2014,"257,500.00",3,2.25,1715,6819,2.00,0.00,0.00,3,7,1715,?,1995,0.00,98003,47.31,-122.33,2238,6819
7,2008000270,1/15/2015,"291,850.00",3,1.50,1060,9711,1.00,0.00,NaN,3,7,1060,0.0,1963,0.00,98198,47.41,-122.31,1650,9711
8,2414600126,4/15/2015,"229,500.00",3,1.00,1780,7470,1.00,0.00,0.00,3,7,1050,730.0,1960,0.00,98146,47.51,-122.34,1780,8113
9,3793500160,3/12/2015,"323,000.00",3,2.50,1890,6560,2.00,0.00,0.00,3,7,1890,0.0,2003,0.00,98038,47.37,-122.03,2390,7570

Rows: 21597, Columns: 21

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  float64
 9   view           21534 non-null  float64
 10  condition      21597 non-null  int64
 11  grade          21597 non-null  int64
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

None

#### Observations on Data Types
1. Date is of type 'object' and should be **converted to date** ✅
2. ~~Some numbers should be **rounded** to 2 decimals (not longitude/latitude though)~~ ✅
3. Floors & price might be possible to **translate to int** (needs checking) (performance improvements) ✅
4. yr_renovated is float, **should be date or int** ✅
5. **empty values** at least in yr_renovated, waterfront, view (and possibly others) ✅
6. 'waterfront' should be **type bool** ✅
7. Check for **duplicates**!
8. **Unclear** what column 'view' (= has been viewed) means -> ask if data is critical
9. **Unclear** what 'grade' tells in general (is low good or bad?) -> ask if data is critical
10. id (and ohers?) could **possibly droped** and df-id should be used (to not confuse potential calculations with id)

#### Initial Hypotheses & Questions to self
1. A **lively neighborhood** (wanted) could be defined by mapping houses to a map (density).
2. I assume houses at the waterfront would be less lively i.e. less cental (central location wanted)
3. The price range and **middle price range (wanted)** can be defined
4. No info is available about Nicole, I assume she is looking for a house **suitable to start a small family (2 adults, 1-2 children) i.e. 2-3 bedrooms**

### Renaming for better readability

In [21]:
columns_mapping = {
    'id': 'ID',
    'date': 'Date_Sold',
    'price': 'Price',
    'bedrooms': 'Rooms_Bed',
    'bathrooms': 'Rooms_Bath',
    'floors': 'Floors',
    'sqft_living': 'Sqft_Living',
    'sqft_lot': 'Sqft_Lot',
    'waterfront': 'Waterfront',
    'condition': 'Condition',
    'sqft_above': 'Sqft_above',
    'sqft_basement': 'Sqft_basement',
    'yr_built': 'Yr_Built',
    'yr_renovated': 'Yr_Renovated',
    'zipcode': 'ZIP',
    'lat': 'Lat',
    'long': 'Long',
    'sqft_living15': 'Sqft_living15',
    'sqft_lot15': 'Sqft_lot15',
    'renovated': 'Renovated',
    'view': 'Viewed',
    'grade': 'Grade',
}

df.rename(columns=columns_mapping, inplace=True)
df.sort_index(axis=1, inplace=True)
df.head()

# yr_renovated contains NaN values. Only change timestamp for non-nan values.


#display(df.price.describe())

,Condition,Date_Sold,Floors,Grade,ID,Lat,Long,Price,Rooms_Bath,Rooms_Bed,Sqft_Living,Sqft_Lot,Sqft_above,Sqft_basement,Sqft_living15,Sqft_lot15,Viewed,Waterfront,Yr_Built,Yr_Renovated,ZIP
0,3,10/13/2014,1.00,7,7129300520,47.51,-122.26,"221,900.00",1.00,3,1180,5650,1180,0.0,1340,5650,0.00,NaN,1955,0.00,98178
1,3,12/9/2014,2.00,7,6414100192,47.72,-122.32,"538,000.00",2.25,3,2570,7242,2170,400.0,1690,7639,0.00,0.00,1951,"1,991.00",98125
2,3,2/25/2015,1.00,6,5631500400,47.74,-122.23,"180,000.00",1.00,2,770,10000,770,0.0,2720,8062,0.00,0.00,1933,NaN,98028
3,5,12/9/2014,1.00,7,2487200875,47.52,-122.39,"604,000.00",3.00,4,1960,5000,1050,910.0,1360,5000,0.00,0.00,1965,0.00,98136
4,3,2/18/2015,1.00,8,1954400510,47.62,-122.05,"510,000.00",2.00,3,1680,8080,1680,0.0,1800,7503,0.00,0.00,1987,0.00,98074

### Data Cleaning

In [22]:
# Converting date / timestamps

# Checking for null values
date_cols = [ 'Date_Sold', 'Yr_Built', 'Yr_Renovated']
def check_null(cols):
    for col in cols:
        nan = df[col].isnull().sum()
        print(f"There are {nan} null values in column {col}")

check_null(date_cols)

There are 0 null values in column Date_Sold
There are 0 null values in column Yr_Built
There are 3842 null values in column Yr_Renovated

#### Date conversion

<span style="color:red">**Assumption**: I assume that a "null" value in yr_renovated means, the object had not been renovated until end of data collection</span>

In [23]:

# Convert do dates
df['Date_Sold'] = pd.to_datetime(df['Date_Sold'], format='%m/%d/%Y')
df['Yr_Built'] = pd.to_datetime(df['Yr_Built'], format='%Y').dt.year

# yr_renovated contains 0, NaN and floats. Everything else than a float > 0 should be treated as NaN
df['Yr_Renovated'] = pd.to_datetime(df['Yr_Renovated'], format='%Y', errors='coerce').dt.year           # Grab the year
df['Yr_Renovated'] = df['Yr_Renovated'].fillna(-1)                                                      # Replace NaN values with a placeholder value 0
df['Yr_Renovated'] = df['Yr_Renovated'].astype(int)                                                     # convert year to integer (otherwise it is shown as float, weirdly)

df['Renovated'] = df['Yr_Renovated'].apply(lambda x: 1 if x > 0 else 0)                                 # Add a column: 1 for renovated, 0 for not renovated
df['Renovated'].value_counts()

Renovated
0    20853
1      744
Name: count, dtype: int64

#### Other conversions

<span style="color:red">**Assumption**: NA in column view means not viewed</span>

In [24]:
df['Rooms_Bath'] = df['Rooms_Bath'].astype(int)         # no fractions of bathrooms -> int
df['Waterfront'] = df['Waterfront'].astype(bool)        # Waterfront can be yes or no -> bool
df['Viewed'] = df['Viewed'].fillna(0)                   # Maybe set na to 0, assuming na means not viewed yet
df['Viewed'] = df['Viewed'].astype(int)

# Convert type object to numeric/float, filling non-numeric with Nan (errors='coerce')
df['Sqft_basement'] = pd.to_numeric(df['Sqft_basement'], errors='coerce')
df['Sqft_basement'] = df['Sqft_basement'].astype(float)

#### Checking for duplicates

In [25]:
dups = df.duplicated().sum()
if dups > 0:
    print(f"Number of duplicates found: {dups}")
else:
    print("No duplicates found (count is 0)")

No duplicates found (count is 0)

In [10]:
#df['Sqft_basement'].isna().any()
#df[~df['Sqft_basement'].apply(lambda x: str(x).isnumeric())]

#df['Viewed'].value_counts()
#df['view'].isna().sum()
#df['waterfront'].astype(bool)
#df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21619 entries, 0 to 21618
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Condition      21597 non-null  float64
 1   Date_Sold      21597 non-null  datetime64[ns]
 2   Floors         21597 non-null  float64
 3   Grade          21597 non-null  float64
 4   ID             21597 non-null  float64
 5   Lat            21597 non-null  float64
 6   Long           21597 non-null  float64
 7   Price          21597 non-null  float64
 8   Rooms_Bath     21597 non-null  float64
 9   Rooms_Bed      21597 non-null  float64
 10  Sqft_Living    21597 non-null  float64
 11  Sqft_Lot       21597 non-null  float64
 12  Sqft_above     21597 non-null  float64
 13  Sqft_basement  21143 non-null  float64
 14  Sqft_living15  21597 non-null  float64
 15  Sqft_lot15     21597 non-null  float64
 16  Viewed         21597 non-null  float64
 17  Waterfront     21597 non-null  object
 18  Yr_Built       21597 non-null  float64
 19  Yr_Renovated   21597 non-null  float64
 20  ZIP            21597 non-null  float64
 21  Renovated      21597 non-null  float64
 22  0              22 non-null     object
dtypes: datetime64[ns](1), float64(20), object(2)
memory usage: 3.8+ MB